.top{
    background: url(../img/background.jpg)center/cover no-repeat;
    height: 100vh;
    padding-top: 217px;
    &__titel{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $white;
        max-width: 750px;
        margin-bottom: 32px;
            }
    &__text{
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        color: $white;
        max-width: 481px;
        margin-bottom: 44px;
            }  
    &__span{
        font-weight: 700;
    }        
    
    &__link{     
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $white;
        border-radius: 30px;
        background: $Brown;
        width:234px;
        height:49px;
        transition: background .3s;
        &:hover{
            background-color: $red;
            cursor: pointer;
            
        }
            }
}

.main{
    background: $darkBlue;
}

.game{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 128px 0 128px;
    &__box{
        width: 379px;
        position: relative;
        &:hover{
            border-radius: 16px;
            border: 3px solid 
            #44D2FF;
            background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
            box-sizing: border-box;
        }
    }

    &__img{
        width: 100%;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    &__text{
        position: absolute;
        top: 77%;
        left: 10%;
        transform: translate(-10%, 0%);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; 
        color: $white;
    }

}

.seasons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 233px;
    padding-bottom: 233px;
    &__box{
        max-width: 584px;
    }
    &__titel{
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
        color: $white;
        margin-bottom: 32px;
    }
    &__text{
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        color: $white;
        margin-bottom: 32px;
    }
    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $white;
        border-radius: 30px;
        background: $Brown;
        width:234px;
        height:49px;
        transition: background .3s;
        &:hover{
            background-color: $red;
            cursor: pointer;
            
        }
    }
    &__img{
     max-width: 485px;
     height: 100%;
    }
    &__game{
        width: 100%;
    }

}

.remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 239px 0 ;
    &__box{
        max-width: 588px;
    }
    &__img{
        max-width: 481px;
        height: 100%;
    }
    &__game{
        width: 100%;
    }
}